*{
    text-decoration: none;
    color: white;
}
body{
    background-color: coral;
    margin: 0;
}
.container{
    background-color: black;
    position:fixed;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 2px;
}
.box{
    /*background-color: purple;*/
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar-l{
    grid-column: 1 / 4;
    display: flex;
    justify-content:start;
    margin-left: 1em;
    gap: 1em;
}
.navbar-r{
    grid-column: 4 / 6;
    display: flex;
    gap: 1em;
}
a:hover{
    color: rgb(144, 142, 142);
}
#giro:hover{
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
}
.title1{
    grid-column: 1 / 6;
    display: flex;
    justify-content: start;
    margin-left: 2em;
}
.film1{
    grid-row: 3 / 4;
    border-radius: 2em;
    padding: 1em;
}
.title2{
    grid-column: 1 / 6;
    display: flex;
    justify-content: start;
    margin-left: 2em;  
}

.box img{
    border-radius: 0.5em;
}
